extends layout

mixin list(portalName)
  li= portalName

block content
  .row
    .jumbotron.col-xs-12
      h1 {{agent.team}}
  .row
    .col-xs-12.hidden-sm-up.toolbox
      .btn-group(role=group)
        button.btn.btn-primary
  .row
    .col-xs-12.col-sm-4.col-lg-2
      p Tasks for {{agent.username}}
    .col-xs-12.col-md-8.col-lg-10
      progress.progress(max="100", value="{{calculateMissionProgress()}}",class="progress-{{calculateMissionProgress()<30 ? 'danger': calculateMissionProgress()<75 ? 'warning' : 'success'}}")
  .row
    .col-xs-12(ng-class="{'col-md-7' : agent.linkMissions}")
      include partials/missionCardList
    include partials/linkMissionCard