doctype html
html(ng-app='app')
  head
    title= team
    link(rel='stylesheet', href='./stylesheets/css.css')
    link(rel='stylesheet', href='./stylesheets/font-awesome.min.css')
    script(src='./javascripts/angular.min.js')
    script(src='./javascripts/controllers.js')
  body(ng-controller="MainController")
    .container
      block content